<%- include('header'); -%>

<h2>This is about page.</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error tempora libero numquam amet nostrum. Incidunt aut accusamus, veritatis eius officia ut enim omnis cumque? Incidunt laboriosam fugit rerum cumque?</p>

<%- include('footer'); -%>